body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b22222; /* Cor vermelha */
    color: white;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 50px;
    height: auto;
    width: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.banner {
    background-color: #8b0000; /* Tom mais escuro de vermelho */
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.banner h1 {
    margin: 0;
    font-size: 3em;
}

.banner p {
    font-size: 1.5em;
}

main {
    padding: 20px;
    text-align: center;
}

main section {
    margin-bottom: 40px;
}

.produto {
    display: inline-block;
    margin: 20px;
    text-align: left;
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(50% - 40px); /* Ajusta o tamanho dos produtos */
    box-sizing: border-box; /* Inclui a largura do border no cálculo */
}

.produto img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.produto h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.produto p {
    margin: 5px 0;
}

.produto .preco {
    font-weight: bold;
    color: #b22222;
}

.produto button {
    background-color: #b22222;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.produto button:hover {
    background-color: #8b0000;
}

footer {
    background-color: #b22222;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}




